@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@500&display=swap');
.AboutMe{
    background-color: #ff6600;
    height: max-content;
    z-index: 30;
    padding-top: 5rem;
    margin-top: -0.4rem;
    text-align: center;
    font-family: 'Kodchasan', sans-serif;
}
.mainText{
    font-size: 2rem;
    padding-bottom: 2rem;
}
.main{
    position: relative;
}
.image{
    position: absolute;
    z-index: 10;
    bottom: 49vh;
    left: 55vw;
}
.mainTextTop{
    font-size: 3rem;
    text-decoration: underline;
}
.mainTextTopSmall{
    font-size: x-large;
    padding-right: 15rem;
    padding-left: 15rem;
    padding-bottom:3rem;
    padding-top: 1rem;
}
.gitcal{
    border-radius: 100px;
    padding: 2px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #ff6600;
    color: black;
}
.gitcal:hover{
    background-color: black;
    color: #ff6600;
}