@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@500&display=swap');
.portfolioLogo{
    font-size: 1.5vw;
    font-family: 'Kodchasan', sans-serif;
}
.mobile{
    display: none;
}
.main{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1.6rem;
    padding-left: 5rem;
    padding-right: 5rem;
    /* background-color: #ff7621; */
    background-color: rgb(0, 0, 0);
    color: #ff7621;
    z-index: 10;
    overflow:hidden;
    width:inherit;
}
.home{
    background-color: black;
    color: #ff7621;
    padding: 0.5rem;
    border-radius: 100px;
    box-shadow: rgba(255, 102, 0, 0.705) 0px 1px 4px;
    cursor: pointer;
    width: 9rem;
    height: 2rem;
    text-align: center;
}
.home:hover{
    background-color: #ff7621;
    color: black;
}
.about{
    background-color: black;
    color: #ff7621;
    padding: 0.5rem;
    border-radius: 100px;
    box-shadow: rgba(255, 102, 0, 0.705) 0px 1px 4px;
    cursor: pointer;
    width: 9rem;
    height: 2rem;
    text-align: center;
}
.about:hover{
    background-color: #ff7621;
    color: black;
}
.skills{
    background-color: black;
    color: #ff7621;
    padding: 0.5rem;
    border-radius: 100px;
    box-shadow: rgba(255, 102, 0, 0.705) 0px 1px 4px;
    cursor: pointer;
    width: 9rem;
    height: 2rem;
    text-align: center;
}
.skills:hover{
    background-color: #ff7621;
    color: black;
}
.projects{
    background-color: black;
    color: #ff7621;
    padding: 0.5rem;
    border-radius: 100px;
    box-shadow: rgba(255, 102, 0, 0.705) 0px 1px 4px;
    cursor: pointer;
    width: 9rem;
    height: 2rem;
    text-align: center;
}
.projects:hover{
    background-color: #ff7621;
    color: black;
}
.contact{
    background-color: black;
    color: #ff7621;
    padding: 0.5rem;
    border-radius: 100px;
    box-shadow: rgba(255, 102, 0, 0.705) 0px 1px 4px;
    cursor: pointer;
    width: 9rem;
    height: 2rem;
    text-align: center;
}
.contact:hover{
    background-color: #ff7621;
    color: black;
}
.resume{
    background-color: black;
    color: #ff7621;
    padding: 0.5rem;
    border-radius: 100px;
    box-shadow: rgba(255, 102, 0, 0.705) 0px 1px 4px;
    cursor: pointer;
    width: 9rem;
    height: 2rem;
    text-align: center;
}
.resume:hover{
    background-color: #ff7621;
    color: black;
}
.resume:hover .anchor{
    color: black;
}
.wave{
    width: 100%;
    height: 150px;
}
.navbarButton{
    display: flex;
    gap: 10px;
    /* padding-top: 1.2rem; */
    font-size:x-large;
    font-family: 'Concert One', cursive;
}
.anchor{
    text-decoration: none;
    color: #ff7621;
}
@media only screen and (max-width: 1374px) {
    .portfolioLogo{
        font-size: 1.5rem;
        font-family: 'Kodchasan', sans-serif;
    }
    .navbarButton{
        display: none;
    }
    .mobile{
        display: block;
    }
}
@media only screen and (max-width: 1180px) {
    .portfolioLogo{
        font-size: 1.5rem;
        font-family: 'Kodchasan', sans-serif;
    }
    .navbarButton{
        display: none;
    }
    .mobile{
        display: block;
    }
    .main{
        display: flex;
        justify-content: space-between;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        /* background-color: #ff7621; */
        background-color: black;
        color: #ff7621;
        z-index: 10;
    }
    .wave{
        width: 100%;
        margin-top: -1px;
    }
}
@media only screen and (max-width: 768px) {
    .main{
        display: flex;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        /* background-color: #ff7621; */
        background-color: black;
        color: #ff7621;
        z-index: 10;
    }
    .wave{
        width: 100%;
        height: 80px;
        margin-top: -1px;
    }
    .portfolioLogo{
        font-size: 4vw;
        padding-top: 0.5rem;
        font-family: 'Kodchasan', sans-serif;
    }
}
@media only screen and (max-width: 548px) {
    .main{
        display: flex;
        justify-content: center;
        gap: 30%;
        margin: 0%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 2rem;
        padding-right: 0.5rem;
        /* background-color: #ff7621; */
        background-color: black;
        color: #ff7621;
        z-index: 10;
    }
    .wave{
        /* width: 100%; */
        /* height: 80px; */
        margin-top: -1px;
    }
    .portfolioLogo{
        font-size: 4vw;
        padding-top: 0.5rem;
        font-family: 'Kodchasan', sans-serif;
    }
}