.video{
    text-align: center;
    padding: 0;
    width: 70%;
    margin: auto;
}
.main{
    width: 100%;
}
.videoinner{
    width: 40vw;
    height: 20vw;
    margin: auto;
}
.imginner1{
    display: none;
}
.imginner2{
    display: none;
}
.imginner3{
    display: none;
}
@media only screen and (max-width: 1779px) {
    .main{
        width: 100%;
        /* margin: auto; */
    }
    .video{
        display: none;
    }
    .imginner1{
        display: block;
        text-align: center;
    }
    .imginner2{
        display: block;
        text-align: center;
    }
    .imginner3{
        display: block;
        text-align: center;
    }
    .imginnerand1{
        width: 80%;
    }
    .imginnerand2{
        width: 40%;
    }
}
@media only screen and (max-width: 414px) {
    .main{
        width: 100%;
        margin: auto;
    }
    .video{
        display: none;
    }
    .imginnerand1{
        width: 100%;
    }
    .imginner{
        display: block;
    }
    .imginnerand{
        width: 100%;
    }
}